/* .link {
    stroke: #000;
    stroke-width: 0.5px;
}
  

.node {
    font-size: 12px;
    font-family: SimSun;
    fill:#000;
}

.linetext {
    font-size: 12px;
    font-family: SimSun;
    fill:#1f77b4;
    fill-opacity: 0.0;
}

.infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 500px;
    width: 880px;
    margin-top: 20px;
  } */
