<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="robots" content="all">
<meta name="referrer" content="always">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="format-detection" content="telephone=no" />
<meta name="applicable-device" content="pc,mobile" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="keywords" content="XML格式化,XML在线解析,XML压缩">
<meta name="description" content="XML格式化工具是一款XML在线解析工具，提供XML格式化、XML压缩功能，格式化后的XML代码有着很高的可读性，颜色高亮显示代码，是程序员必备工具之一。">
<title>XML格式化 XML在线解析工具 iP138在线工具</title>
<link rel="canonical" href="https://tool.ip138.com/xml/" />
<link rel="stylesheet" href="static/css/responsive.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/page.css" />
<script type="text/javascript">
var CONFIG = {
'imageUrl': 'https://cache.ip138.com/tool/image/',
'scriptUrl': 'https://cache.ip138.com/tool/script/',
'styleUrl': 'https://cache.ip138.com/tool/style/'
};
</script>
<script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
<div class="wrapper">
<div class="header">
<div class="mod-head">
<ul class="only-pc link">
<li><span class="icon-date"></span></li>
</ul>
<a class="logo" href="https://www.ip138.com/"><img src="static/picture/logo.png" width="147" height="50" alt="查询网"></a>
<a class="menu only-mobile" href="javascript:;" rel="nofollow"><span></span><span></span><span></span></a>
<ul class="nav">
<li>
<a class="type" href="javascript:;" rel="nofollow">格式化</a>
<div class="sub">
<a href="/json/">JSON格式化</a>
<a href="/xml/">XML格式化</a>
<a href="/xmljson/">XML/JSON互转</a>
<a href="/yamljson/">YAML/JSON互转</a>
<a href="/ubbhtml/">UBB/HTML互转</a>
<a href="/html/">HTML格式化/压缩</a>
<a href="/javascript/">Javascript格式化/压缩</a>
<a href="/css/">CSS格式化/压缩</a>
<a href="/sql/">SQL格式化/压缩</a>
<a href="/java/">Java格式化</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">编码/加密</a>
<div class="sub">
<a href="/base64/">Base64编码/解码</a>
<a href="/escape/">Escape编码/解码</a>
<a href="/utf8/">UTF-8编码汉字互转</a>
<a href="/ascii/">Unicode编码汉字互转</a>
<a href="/urlencode/">URL编码/解码</a>
<a href="/gzip/">Gzip编码/解码</a>
<a href="/punycode/">Punycode编码/解码</a>
<a href="/hash/">哈希加密算法</a>
<a href="/aesdes/">对称加密算法</a>
<a href="/rsa/">RSA加密/解密</a>
<a href="/uuid/">UUID生成器</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">转换</a>
<div class="sub">
<a href="/timestamp/">UNIX时间戳转换</a>
<a href="/hexconvert/">任意进制转换</a>
<a href="/jsonget/">JSON/GET请求字符串互转</a>
<a href="/jsonpostman/">JSON/Postman参数互转</a>
<a href="/jsoncsv/">JSON转Excel/Csv</a>
<a href="/ip/">IP地址、子网掩码在线计算</a>
<a href="/iptoint/">IP/数字互转</a>
<a href="/letter/">字母大小写转换</a>
<a href="/underlinehump/">下划线/驼峰互转</a>
<a href="/htmlescape/">HTML转义/反转义</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">文档/手册</a>
<div class="sub">
<a href="/ascii_code/">ASCii码表</a>
<a href="/eascii/">EASCii码表</a>
<a href="/android/">Android Manifest 权限描述</a>
<a href="/websize/">Web尺寸规范</a>
<a href="/htmlspecialcode/">HTML/XML转义字符对照表</a>
<a href="/http_code/">HTTP状态码</a>
<a href="/httpheader/">HTTP请求和响应头信息表</a>
<a href="/port/">常用端口号</a>
<a href="/git/">Git常用命令</a>
<a href="/frontend/">前端开发快捷键</a>
<a href="/mimetype/">MimeType参考表</a>
<a href="/magicbytes/">MagicBytes参考表</a>
<a href="/keycode/">KeyCode键盘按键码参考表</a>
<a href="/package/">包管理器国内源</a>
<a href="/linux/">Linux常用命令</a>
<a href="/base64code/">base64编码对照表</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">文本/图片处理</a>
<div class="sub">
<a href="/markdown/">Markdown在线编辑器</a>
<a href="/difference/">在线文本比较工具</a>
<a href="/txtunique/">在线文本去重工具</a>
<a href="/txtsort/">在线文本排序工具</a>
<a href="/txtinterval/">在线文本间隔生成工具</a>
<a href="/txtprefix/">在线文本行批量添加前后缀</a>
<a href="/binarytostr/">在线二进制转文本工具</a>
<a href="/wordcount/">在线字数统计工具具</a>
<a href="/characterchange/">全角/半角转换工具</a>
<a href="/txttoimg/">在线文字生成图片</a>
<a href="/pictureformat/">图片格式转换</a>
<a href="/compressor/">图片压缩</a>
<a href="/img2base64/">图片转Base64编码</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">UI设计</a>
<div class="sub">
<a href="/cssborder/">CSS圆角生成工具</a>
<a href="/cssboxshadow/">CSS盒子阴影效果在线调试</a>
<a href="/csstextshadow/">CSS文本阴影效果在线调试</a>
<a href="/rgbhex/">颜色值转换</a>
<a href="/betweencolor/">在线计算两种颜色中间色</a>
<a href="/contrarycolor/">相反颜色取色计算工具</a>
<a href="/cmyk/">CMYK颜色对照表</a>
<a href="/chinacolor/">中国传统色彩大全</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">SEO工具</a>
<div class="sub">
<a href="/robots/">robots.txt文件生成器</a>
<a href="/meta/">Meta标签生成器</a>
<a href="/spider/">搜索引擎蜘蛛IP地址大全</a>
<a href="/dns/">全国DNS服务器IP地址大全</a>
<a href="/cdn/">前端公共资源CDN库</a>
<a href="/searchengines/">网站搜索引擎提交入口</a>
</div>
</li>
<li>
<a class="type" href="javascript:;" rel="nofollow">其他</a>
<div class="sub">
<a href="/strtohtml/">字符串转HTML段落</a>
<a href="/mac/">MAC地址生成器</a>
<a href="/random/">随机数/密码生成</a>
<a href="/useragent/">UserAgent分析和查询</a>
<a href="/regex/">正则表达式测试</a>
<a href="/xpath/">Xpath表达式测试</a>
<a href="/linkaddress/">链接地址批量生成器</a>
<a href="/openurls/">批量打开网址</a>
<a href="/fontfamily/">网页字体测试</a>
<a href="/ppi/">屏幕PPI计算工具</a>
</div>
</li>
<li>
<a class="text-red" href="https://api.cn/#1b3b2720" target="_blank" rel="nofollow">APi云市场</a>
</li>
</ul>
</div>
</div>
<div class="container"><div class="side">
<div class="mod-link">
<div class="bd">
<ul>
<li class="small"><a href="//www.ip138.com/" target="_blank">iP查询</a></li>
<li class="small"><a href="//qq.ip138.com/weather/" target="_blank">天气预报</a></li>
<li><a href="//www.ip138.com/sj/" target="_blank">手机号码归属地查询</a></li>
<li><a href="//www.liantu.com/" target="_blank">二维码生成器</a></li>
<li><a href="//caipiao.ip138.com/" target="_blank">彩票开奖查询</a></li>
<li><a href="//bifen.ip138.com/" target="_blank">体育比赛比分</a></li>
<li><a href="//www.yitaifang.com/" target="_blank">以太坊区块浏览器</a></li>
<li><a href="//www.ip138.com/weizhang.htm" target="_blank">车辆交通违章查询</a></li>
<li class="small"><a href="//www.ip138.com/gold/" target="_blank">今日金价</a></li>
<li class="small"><a href="//www.ip138.com/paijia/" target="_blank">外汇牌价</a></li>
<li class="small"><a href="http://10.ip138.com/" target="_blank">品牌排行榜</a></li>
<li class="small"><a href="//qq.ip138.com/hl.asp" target="_blank">汇率查询</a></li>
<li><a href="//www.ip138.com/jb.htm" target="_blank">国内国际机票查询</a></li>
<li><a href="//qq.ip138.com/train/" target="_blank">国内列车时刻表查询</a></li>
<li class="small"><a href="//qq.ip138.com/tran.htm" target="_blank">在线翻译</a></li>
<li class="small"><a href="//www.ip138.com/ems/" target="_blank">快递查询</a></li>
<li class="small"><a href="//www.ip138.com/post/" target="_blank">区号查询</a></li>
<li class="small"><a href="//www.ip138.com/post/" target="_blank">邮编查询</a></li>
<li><a href="//qq.ip138.com/idsearch/" target="_blank">身份证号码查询验证</a></li>
<li><a href="//qq.ip138.com/day/" target="_blank">阴阳转换万年历</a></li>
<li><a href="//www.ip138.com/carlist.htm" target="_blank">全国各地车牌查询表</a></li>
<li><a href="//qq.ip138.com/converter.htm" target="_blank">在线度衡量转换器</a></li>
</ul>
</div>
</div>
</div><div class="content">
<div class="mod-breadcrumb only-pc">
<a href="//www.ip138.com/">首页</a>
<span>&gt;</span>
<a href="/">程序员开发工具</a>
<span>&gt;</span>
<strong>XML在线解析</strong>
</div>
<div class="mod-panel">
<div class="banner-outer"></div>
<div class="hd">
<h1>XML格式化</h1>
</div>
<div class="bd">
<div class="row">
<div class="col-md-12">
<form>
<div class="form-group">
<div id="input" style="height:400px;">&lt;books&gt;
&lt;book&gt;
&lt;author&gt;李刚&lt;/author&gt;
&lt;title&gt;疯狂XML讲义&lt;/title&gt;
&lt;publisher>电子工业出版社&lt;/publisher&gt;
&lt;/book&gt;
&lt;book&gt;
&lt;author&gt;Developer&lt;/author&gt;
&lt;title&gt;XML格式化工具&lt;/title&gt;
&lt;publisher&gt;ip138.com&lt;/publisher&gt;
&lt;/book&gt;
&lt;/books&gt;</div>
</div>
<div class="form-group">
<div class="form-inline">
<button class="btn btn-primary" data-type="beauty" type="button">格式化</button>
<button class="btn btn-primary" type="button">压缩</button>
</div>
</div>
</form>
</div>
</div>
<div class="row">
<div class="col-md-10">
<div class="tips">
<h4>XML格式化介绍</h4>
<p>XML格式化工具是一款XML在线解析工具，提供XML格式化、XML压缩功能，格式化后的XML代码有着很高的可读性，颜色高亮显示代码，是程序员必备工具之一。</p>
<h4>关于在线格式化XML工具</h4>
<ul>
<li>XML是web中交换和传输数据中最常用的格式之一，很多的web server协议都是基于XML进行定义。</li>
<li>JSON和XML是web传输中常见的两种文本格式。相比JSON，XML格式严格规范，更容易传输更加复杂的数据。</li>
<li>在Web调试的过程中，经常需要将一行XML格式的文本格式化一下，使其更加容易阅读，从而更加便于我们调试。</li>
<li>在Web调试完成之后，我们可以将XML文档压缩，加快文本在网络中的传输速度，当然这一点对于加速网络传输效果有限。</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="static/js/ace.js"></script>
<script type="text/javascript" src="static/js/vkbeautify.js" ></script>
<script type="text/javascript">
(function(){
var $mod_panel = $('.mod-panel');
var $input = $mod_panel.find('#input');
var editor = ace.edit("input");
editor.setShowPrintMargin(false);
editor.setTheme("ace/theme/tomorrow_night");
editor.getSession().setMode("ace/mode/xml");
$mod_panel.find('.btn').click(function(e){
var input = editor.getValue(),
type = $(this).data('type'),
result = '';
if(type=='beauty'){
result = vkbeautify.xml(input);
}else{
result = vkbeautify.xmlmin(input);
}
result = $.trim(result);
editor.setValue(result);
});
})();
</script>
<div class="footer">
<div class="mod-foot">
<div class="logo only-pc"><a href="http://www.ip138.com/"><img src="static/picture/logo.png" width="147" height="50" alt="查询网"></a></div>
<div class="info">
<p><span>如果您觉得本站对您的朋友有帮助，别忘了告诉他（她）们哟 ^_^</span></p>
<p>
<span class="contact">联系我们：请<a href="http://www.ip138.com/mail.htm" rel="nofollow" target="_blank">发email</a>或给<a href="http://qq.3533.com:8080/book.asp?siteid=7" rel="nofollow" target="_blank">我们留言</a>谢谢!</span>
</p>
</div>
</div>
<div class="mod-goback">
<a href="#" rel="nofollow">返回顶部</a>
</div>
<div class="mod-mask"></div>
</div>
</div>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/banner.js"></script>
<div class="hide">
<script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?aeda6219727e3683ebe90fb14ddca9ed";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();</script>        </div>
</body>
</html>