:global {
    .content {
        width: 100%;
        overflow: hidden;
        cursor: default;
        pointer-events: none;
        user-select: none;

        // position: absolute;
        // left: 0;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // z-index: 1000;
        canvas {
            display: block;
            width: 100% !important;
            opacity: 0.3;
            height: 100% !important;
            background: none;
        }
    }

    .red {
        background-color: red;
    }

    .yellow {
        background-color: yellow;
    }
}

.TagBox {
    text-align: left;

    .TagText {
        display: inline-block;
        width: 170px;
        text-align: center;

        .TagContainer {

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    :global {
        .ant-tag {
            width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .ant-tag-hidden {
            display: inline-block;
        }
    }
}

.Carousel{
    border: 1px solid red;
    :global{
        .slick-slide{
            height: 400px;
            // background: black;
            // color: white;
            h3{
                // color: black;
            }
        }

        .ant-carousel .slick-slide {
            text-align: center;
            height: 300px;
            line-height: 300px;
            background: #364d79;
            overflow: hidden;
          }
          
          .ant-carousel .slick-slide h3 {
            color: #fff;
          }
    }
}